<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Golden Palate</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <!--Parent container sidebar-->
        <h1>GOLDEN PLATE</h1>
        <ul>
            <li class="nav-item profile">
                <div class="profile-desc">
                    <div class="profile-pic">
                        <img src="path_to_image.jpg" alt="Profile Picture" class="profile-image">
                    </div>
                    <div class="profile-name text-center d-flex flex-column align-items-center">
                        <h5 class="mb-0 font-weight-normal text-white">Shanella Cagulang</h5>
                        <span class="text-white">Admin</span>
                    </div>
                </div>
            </li>



            <li>
                <a href="/Dashboard" class="active">
                    <i class="fa-solid fa-chart-pie"></i> Dashboard
                </a>
            </li>

            <li>
                <a href="/Reservations class="">
                    <i class="fa-solid fa-calendar-check"></i>  Reservations
                </a>
            </li>

            <li>
                <a href="/Audit Logs" class="">
                    <i class="fa-solid fa-clipboard"></i> Audit Logs
                </a>
            </li>

            <li>
                <a href="/Menu" class="">
                    <i class="fa-solid fa-bars"></i> Menu
                </a>
            </li>
        </ul>

        <ul class="bottom-sidebar">
            <li>
                <a href="/Settings">
                    <i class="fa-solid fa-gear"></i> Settings
                </a>
            </li>

            <li>
                <a href="/Logout">
                    <i class="fa-solid fa-right-from-bracket"></i> Log Out
                </a>
            </li>
        </ul>
    </div>

    <!-- Header -->
    <div class="header">
        <div class="date-time">
            <ul>
                <li> <span>@DateTime.Now.ToString("hh:mm:ss tt")</span></li>
                <li> <span>@DateTime.Now.ToString("MMMM dd, yyyy")</span> </li>
            </ul>
        </div>
        <div class="notification-wrapper">
            <button class="notification-icon" onclick="showNotifications()">
                <i class="fa-solid fa-bell"></i>
            </button>
        </div>

        <div class="user-wrapper">
            <button class="user-icon" onclick="showUser()">
                <i class="fa-solid fa-user-gear"></i>
            </button>
        </div>
    </div>

    <!-- Content -->
    <div class="content">
        @RenderBody() <!-- Child views will be injected here -->
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
