<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RRS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RRS.styles.css" asp-append-version="true" />

    <!-- CSS FILES -->
    <link href="~/css/adminLayout.css" rel="stylesheet" />

    <!-- BOXICONS -->
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />

    <!-- JS FILES -->
    <script src="~/js/adminLayout.js"></script>

</head>

<body id="body-pd">
    <header class="header bg-white shadow" id="header">
        <div class="header_toggle">
            <i class='bx bx-menu' id="header-toggle"></i>
        </div>
        <div class="header_img">
            <img src="https://i.imgur.com/hczKIze.jpg" alt="">
        </div>
    </header>

    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav_logo">
                    <i class='bx bx-dish nav_logo-icon'></i>
                    <span class="nav_logo-name">Golden Palate</span>
                </a>
                <div class="nav_list">
                    <a href="#" class="nav_link active">
                        <i class='bx bx-grid-alt nav_icon'></i>
                        <span class="nav_name">Dashboard</span>
                    </a>
                    <a href="#" class="nav_link">
                        <i class='bx bx-calendar nav_icon'></i>
                        <span class="nav_name">Reservations</span>
                    </a>
                    <a href="#" class="nav_link">
                        <i class='bx bx-food-menu nav_icon'></i>
                        <span class="nav_name">Menu Management</span>
                    </a>
                    <a href="#" class="nav_link">
                        <i class='bx bx-table nav_icon'></i>
                        <span class="nav_name">Table Management</span>
                    </a>
                    <a href="#" class="nav_link">
                        <i class='bx bx-history nav_icon'></i>
                        <span class="nav_name">Audit Logs</span>
                    </a>
                    <a href="#" class="nav_link">
                        <i class='bx bx-bar-chart-alt-2 nav_icon'></i>
                        <span class="nav_name">Stats</span>
                    </a>
                </div>
            </div>
            <a href="#" class="nav_link">
                <i class='bx bx-log-out nav_icon'></i>
                <span class="nav_name">SignOut</span>
            </a>
        </nav>
    </div>

    <!--Container Main start-->
    <div class="height-100 bg-light">
        @RenderBody()
    </div>
    <!--Container Main end-->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
