
@{
    ViewData["Title"] = "Menu Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-left mt-5 mb-4">
    <h1 class="fs-4">Menu Management</h1>
</div>


<!-- DataTales Example -->
<div class="card shadow height-100">

    <div class="d-flex justify-content-start align-items-center mt-3 w-100 ps-3">
        <a asp-area="" asp-action="Index" asp-controller="Menu" class="py-2 px-3 text-decoration-none text-black fw-normal">
            Menu Items
        </a>
        <a asp-area="" asp-action="Index" asp-controller="Category" class="py-2 px-3 text-decoration-none text-black fw-normal">
            Category
        </a>
    </div>

    <div class="card-body mb-5">

        @RenderBody()

    </div>
</div>


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!-- Bootstrap JS Bundle -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>