
@{
    ViewData["Title"] = "Customer";
}
<div class="shadow-box bg-black" style="width: 100%; height: 300px; position: relative; display: flex; justify-content: center; align-items: flex-start; text-align: center; padding-top: 20px;">
    <p class="text-white" style="font-size: 30px; font-family: 'Poppins', sans-serif; font-weight: bold; margin-top: 5%;">Book your reservations everywhere!</p>
</div>

<img src="~/assets/landing-bg.jpeg" alt="Image description" style="width: 100%; height: calc(100vh - 300px); object-fit: cover; opacity: 0.3; margin-top: 0; padding-top: 0;">

<div style="position: relative; z-index: 10; display: flex; justify-content: space-around; margin-top: -37%; width: 100%;">
    <div style="width: 35%; height: 500px; background-color: white; color: white; display: flex; justify-content: center; align-items: center; font-size: 25px; font-weight: bold; border-radius: 8px;">
       
    </div>


    <div style="width: 35%; height: 500px; background-color: white; color: black; display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start; font-size: 15px; font-weight: bold; padding: 20px; overflow-y: auto;">
        <h1 class="fw-bold" style="margin: 0; font-family:'Poppins',sans-serif; font-size:25px;">Branches</h1>
        <!-- Box 1 -->
        <div style="width: 100%; height: 90px; background-color: #f0f0f0; border-radius: 8px; margin-top: 15px; display: flex; flex-direction: column; justify-content: center; align-items: flex-start; font-size: 16px; font-weight: normal; padding: 20px;">
            <h1 style="margin: 0; font-size: 18px;">
                SM Fairview
            </h1>
            <p style="margin: 0; font-size: 14px;">
                4th floor, SM Fairview Quezon City Brgy. Fairview
            </p>
        </div>
