@{
    ViewData["Title"] = "Landing Page";
}
<div class="container-fluid">
    <!-- Image Section -->
    <div class="row">
        <div class="col-12">
            <div class="half-screen-image" style="background-image: url('https://source.unsplash.com/1600x900/?restaurant');"></div>
        </div>
    </div>
</div>

<style>
    /* Custom Styles */
    .half-screen-image {
        height: 50vh; /* Half of the viewport height */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity:0.5;
    }
</style>