@{
    ViewData["Title"] = "Main Page";
}

<h1 class="ms-lg-5">Menu Management</h1>
<p style="margin-left: 80px;">Menu Management for easy organization and customization of food offerings for buffet events</p>

<!-- Add Button positioned at the top-right -->
<button class="btn btn-primary border-1" style="position: absolute; top: 170px; right: 250px; border-radius: 26px; ">Add Menu</button>

<div class="border-1" style="width: 1300px; height: auto; margin-left: 70px; border: 1px solid black; border-radius: 15px; padding: 10px; margin-top: 10px;">
    <table class="table table-hover" style="padding: 5px;">
        <thead>
            <tr>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
            </tr>
            <tr>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
            </tr>
            <tr>
                <td colspan="2">Larry the Bird</td>
                <td>twitter</td>
            </tr>
        </tbody>
    </table>
</div>


