@{
    ViewData["Title"] = "Audit Logs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

﻿@{
    ViewData["Title"] = "Audit Logs";
}

<div class="text-left mb-2">
    <h1 class="fs-4">Audit Logs</h1>
    <p class="text-secondary">Records of activities within the system</p>
</div>


<!-- DataTales Example -->
<div class="card border-0 shadow-sm mb-5">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover text-center" id="auditLogsTable">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Activity</th>
                        <th>Role</th>
                        <th>Timestamp</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>User</td>
                            <td>Activity</td>
                            <td>Role</td>
                            <td>Timestamp</td>
                            <td>Status</td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        new DataTable('#auditLogsTable');
    });
</script>